@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|Satisfy&display=swap');
HTML {
  background-color: #F5E1FD;
  overflow: hidden;
}
body {
  margin: 20px;
}
img {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 52vw;
}
header {
  text-align: center;
}
h1 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 4.5em;
  margin-top: -10px;
  color: #addbf5;
  text-shadow: 5px 5px 0 #fff09d;
}
h2 {
  font-family: 'Satisfy', cursive;
  font-size: 3.5em;
  margin-top: -65px;
  color: #f1adbc;
  text-shadow: 3px 1px 0 #addbf5;
  text-decoration: #f1adbc;
}
button {
  font-family: 'Bubblegum Sans', cursive;
}

.player {
  max-width: 40vw;
  border: 10px solid #F5E1FD;
  border-radius: 40px;
  box-shadow: 0 0 20px #f1adbc;
  background-color: #addbf5;
  position: relative;
  overflow: hidden;
  margin-top: -50px;
  margin-left: 10px;
  padding: 20px;
}
.player__video {
  width: 38vw;
  height: 57vh;
  border: 10px solid #fff09d;
  border-radius: 40px;
}